@import '../../../sdk-flex.scss';
@import '../../app/app-vars.scss';

.sdk-layout-header {
    // padding: 0 20%;

    // @include mq(lg) {
    //     padding: 0 10%;
    // }

    @include mq(small-and-medium) {
        padding: 0;
    }

    >.sdk-layout-header-content {

        @include grid;
        @include grid-row;
        @include grid-nowrap;
        @include grid-va-center;

        @include mq(small-and-medium) {
            @include grid-column;
        }

        .sdk-layout-header-left {
            @include grid;
            @include grid-left;
            @include grid-nowrap;
            @include basis(70%);
            @include grid-va-center;
            height: 100px;

            @include mq(small-and-medium) {
                display: none;
            }

            .titolo-modulo,
            .sottotitolo-modulo {
                margin: 0;
                white-space: break-spaces;
            }

            @include mq(lg) {
                .sottotitolo-modulo {
                    display: none;
                }
            }

            .img-logo {
                max-width: 100%;
                height: auto;
                max-height: 100px;
                padding: 0.5rem;

                &.img-logo-clickable {
                    cursor: pointer;
                }
            }

            .titolo-container {
                padding-left: 1rem;

                .titolo {
                    padding-top: 2.5rem;
                    font-size: 2.5rem;
                    text-transform: uppercase;
                    font-weight: bold;
                    letter-spacing: 0.05rem;
                }

                .sottotitolo {
                    font-size: 1.5rem;
                    font-style: italic;
                    letter-spacing: 0.05rem;
                    @extend %color-sfondo-testo;
                }
            }
        }

        .sdk-layout-header-right {
            @include grid;
            @include grid-nowrap;
            @include grid-right;
            @include basis(30%);
            padding: 0 1rem;

            @include mq(small-and-medium) {
                @include grid-center;
            }

            .ente-selezionato {
                text-overflow: ellipsis;
                overflow: hidden;
            }

            .message-button {
                padding-right: 1rem;
                display: flex;
                align-items: center;
            }

            .sdk-button-outline.p-splitbutton .p-button:not(.p-splitbutton-menubutton) {
                cursor: default;

                &:hover {
                    background: transparent;
                }

                &:focus {
                    box-shadow: none;
                }

                .p-splitbutton-defaultbutton.p-button.p-component {
                    padding: 0;
                }

            }

            .utente {

                width: 250px;
            
                .p-splitbutton .p-splitbutton-defaultbutton {
                    flex: none;
            
                    .p-button-label {
                        flex: none;
                        max-width: 180px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                }
            }
        }
    }
}

.sdk-layout-header-top,
.sdk-layout-header-mid,
.sdk-layout-header-bottom {
    @extend %sdk-layout-header-text-color;

    a {
        @extend %sdk-layout-header-text-color;
    }
}

.sdk-layout-header-top {
    @extend %sdk-layout-header-top-background;
    height: 100px;
}

.sdk-layout-header-mid {
    @extend %sdk-layout-header-mid-background;
    border-top: 1px solid map-get($blue-colors, layoutBorder);
    border-bottom: 1px solid map-get($blue-colors, layoutBorder);

    .sdk-layout-header-left {
        padding: 0.5rem;
    }
}

.sdk-layout-header-bottom {
    @extend %sdk-layout-header-bottom-background;

    .header-flag-container {

        width: 95%;
        margin: 0 auto;
        height: 8px;

        .green {
            @extend %green-background;
            width: 33.3%;
            float: left;
            height: 8px;
        }

        .white {
            @extend %white-flag-background;
            width: 33.3%;
            float: left;
            height: 8px;
        }

        .red {
            @extend %red-background;
            width: 33.3%;
            float: left;
            height: 8px;
        }
    }
}

.sdk-layout-header-menu {
    height: 100%;
    padding: 0;
    width: 64px;

    >.sdk-layout-header-content {
        @extend %sdk-layout-header-menu-background;
        @include grid;
        @include grid-column;
        @include grid-nowrap;
        @include grid-between;
        @include grid-ca-center;
        @include grid-va-center;

        padding: 1rem 0;
        height: 100%;

        .header-flag-container {

            width: 95%;
            margin: 0 auto;
            height: 8px;
            display: none;

            .green {
                @extend %green-background;
                width: 33.3%;
                float: left;
                height: 8px;
            }

            .white {
                @extend %white-flag-background;
                width: 33.3%;
                float: left;
                height: 8px;
            }

            .red {
                @extend %red-background;
                width: 33.3%;
                float: left;
                height: 8px;
            }
        }

        .header-menu {
            padding: 1rem;

            @include grid;
            @include grid-column;
            @include grid-nowrap;
            @include grid-between;
            @include grid-ca-center;
            @include grid-va-center;

            .first-level-item {
                height: 4rem;
                font-size: 1.5rem;
                color: #fff;

                &:hover {
                    cursor: pointer;
                }
            }

            .header-menu-item {

                &.menu-item-active {
                    border-bottom: 2px solid #fff;
                }
            }

            .container-left {
                @include grid;
                @include grid-row;
                @include grid-nowrap;

                .desktop-menu {
                    display: block;
                }

                .responsive-menu {
                    display: none;

                    .p-button-icon-left {
                        @extend %color-sfondo-testo;
                    }
                }

                .logo-small {
                    width: 45px;
                    display: none;
                }
            }

            .container-right {
                display: none;

                .profiloDesktop {
                    display: block;
                }

                .profiloResponsive {
                    display: none;

                    .p-splitbutton {
                        @include grid;
                        @include grid-nowrap;
                    }
                }
            }
        }

        .sdk-menu-config .p-menubar {
            @extend %transparent-background;
            border: none;
            text-transform: uppercase;

            .p-menubar-root-list > .p-menuitem {
                > .p-menuitem-link:not(.p-disabled):hover .p-menuitem-text {
                    @extend %color-testo;
                }

                &.p-menuitem-active > .p-menuitem-link:not(.p-disabled) > .p-menuitem-text {
                    @extend %color-testo;
                }
            }

            .p-menuitem-link {
                @extend %color-sfondo-testo;

                .p-menuitem-text {
                    @extend %color-sfondo-testo;
                    font-weight: bold;
                    text-decoration: none;
                }
            }

            .p-submenu-list {
                .p-menuitem-link {
                    @extend %color-testo;

                    .p-menuitem-text {
                        @extend %color-testo;
                        font-weight: bold;
                        text-decoration: none;
                    }
                }

                .p-menuitem-active .p-menuitem-link .p-menuitem-text {
                    @extend %color-sfondo-testo;
                }
            }
        }

        @include mq(small-and-medium) {

            .header-menu {

                .container-left {
                    .desktop-menu {
                        display: none;
                    }

                    .responsive-menu {
                        @include grid;
                        @include grid-va-center;
                        color: white;
                    }
                }

                .container-right {
                    .profiloDesktop {
                        display: none;
                    }

                    .profiloResponsive {
                        display: block;
                    }
                }
            }
        }
    }
}


.sdk-layout-breadcrumbs {
    .sdk-layout-breadcrumbs-container {
        @extend %sdk-layout-breadcrumbs-background;
        @include grid;
        @include grid-row;
        @include grid-nowrap;
        @include grid-left;
        @include grid-ca-center;
        @include grid-va-center;
        height: 50px;

        .breadcrumb-collapse-icon {
            padding: 1rem;
        }

        .sdk-breadcrumb {
            display: block;
            width: 98%;

            .breadcrumb-container {
                padding: 0.5rem 1rem;
                border: 1px solid;
                @extend %transparent-border;
                border-radius: 3px;

                a {
                    @extend %color-sfondo-pagina;
                }
            }
        }
    }
}

.sdk-header-followus,
.sdk-header-search {

    margin: 0;

    sdk-textbox {
        width: 100%;

        .p-inputtext {
            width: 100%;
        }
    }

    .p-button.sdk-button-flat {
        @extend %color-sfondo-testo;
    }

    .simple-search-container .search-inline {
        flex-wrap: nowrap;

        p-dropdown {
            width: 30%;

            .p-dropdown {
                width: 100%;
                border-top-left-radius: 3px;
                border-bottom-left-radius: 3px;
            }
        }

        .p-button {
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
        }
    }
}

.sdk-header-radio {
    p-radiobutton {
        padding: 0 0.5rem;
    }

    .p-radiobutton {
        .p-radiobutton-box.p-highlight {
            @extend %border-sfondo-testo;
            @extend %background-sfondo-testo;
            @extend %checkbox-color;

            .p-radiobutton-icon {
                @extend %checkbox-background-color;
            }
        }

        .p-radiobutton-box.p-highlight:not(.p-disabled):hover {
            .p-radiobutton-icon {
                @extend %background-sfondo-testo;
            }
        }
    }
}

.sdk-header-followus {

    .sdk-header-followus-title {
        margin: 0.5rem;
    }

    .sdk-header-followus-social {
        margin: 0.5rem;
    }
}

// .sdk-header-sticky {
//     @include sdk-sticky;
//     @extend %sdk-header-sticky-background;
//     padding: 0;

//     .header-menu {
//         @include grid-va-center;

//         .container-left {
//             .logo-small {
//                 display: block !important;
//             }
//         }

//         .container-right {
//             display: block !important;

//             .sdk-layout-header-right {
//                 padding: 0;
//             }
//         }
//     }
// }

.menu-sidebar {
    @extend %menu-sidebar-background;
}

.sdk-layout-header-bottom-section.no-menu .blue-band {
    padding: 1rem;
}

.header-search-panel {
    padding: 0 1rem;
    flex: 1 1 auto;
}

.sdk-layout-title {

    @extend %background-sfondo-titolo;

    .app-title {
        padding: 4rem 2rem 1rem 2rem;
        text-align: center;
        font-weight: bold;
        font-size: 2rem;
        margin: 0;
        @extend %color-titolo;
    }

    .app-body {
        padding: 2rem;
        text-align: center;
        font-size: 1.2rem;
        @extend %color-testo;
    }
}

.sdk-layout-header-top-section {
    height: 100px;
}

sdk-layout-header-menu {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: auto;

    .menu-item-content {
        width: 300px;

        .p-panelmenu-header-link {
            color: #333333;
        }
    }
}

.ente-selezionato {
    padding: 0 1rem .429rem 1rem;
    font-size: 0.9rem;
}

.advanced-search-category-item-label,
.advanced-search-selected-category,
.advanced-search-no-result,
.advanced-search-result-item {
    @extend %color-testo;
}