<div [class]="config.classNames" *ngIf="isReady">
    <div class="page-title" *ngIf="config.sectionTitle != null">{{ config.sectionTitle | translate }}</div>
    <div class="blue-line" *ngIf="config.sectionTitle != null"></div>

    <div class="messages-box" #infoBox></div>

    <div class="messages-box" #messages></div>

    <div class="lista-deleghe-container">
        <div class="ll-content">
            <sdk-table [config]="configSub" [reset]="resetTable"></sdk-table>
            <sdk-modal [config]="modalConfigObs" (output)="manageModalOutput($event)"></sdk-modal>

            <div class="buttons-row">
                <sdk-button-group [config]="buttonsSubj" (output)="onButtonClick($event)"></sdk-button-group>
            </div>
        </div>
    </div>

    <sdk-sidebar [config]="sidebarConfigObs"></sdk-sidebar>
    <sdk-dialog [config]="dialogConfigSubj"></sdk-dialog>

</div>
