.gs-content .radio-container{
    padding-top: 1.5em;
    display: block !important;
    border-top: 1px solid #ddd;
}

.gestione-smartcig-container {
    margin-top: 1em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(232, 232, 232);
}

.gs-content .radio-label {
    font-size: 1.2em!important;
    font-weight: bold!important;    
}

.gs-content p-radiobutton {
    margin-bottom: 0.5em;
}