@import "../../sdk-flex.scss";
@import "../app/app-vars.scss";


.spid-button {
    background: #06c;
    color: white;
    padding: 1.5rem;
    cursor: pointer;
}

.spid-button-icon {
    padding: 0.5rem;
}

.spid-button-menu {
    list-style: none;
    background: white;
    border: 1px solid gainsboro;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    overflow: visible;
    padding: 0;
    margin: 0;
    width: 50%;
}

.spid-element {
    border-top: 1px solid #dcdcdc;
    display: block;
    font-family: Titillium Web, HelveticaNeue, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5rem;
    padding: 0.5rem;
    text-decoration: underline;
    white-space: nowrap;
    text-align: center;

    @include mq(small) {
        font-size: 16px;
    }

    @extend %color-base;
}

.spid-element:hover {
    background-color: gainsboro;
}

.spid-provider-img {
    height: 2rem;
}

.spid-support-link {
    display: block;
    padding: 0.5rem;
    font-weight: bold;
}

.spid-login-content-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.spid-login-section {
    overflow-y: auto;

    .search-form {
        padding: 1rem;

        input {
            width: 100%;
            padding: 0.5rem;
        }
    }
}

.selectable {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spid-multiente {
    text-align: center;

    .selectable .selectable-link-item {
        width: 100%;
    }
}