<div [class]="config.classNames" *ngIf="isReady">

  <div class="messages-box" #infoBox></div>

  <div class="messages-box" #messages></div>
  <div class="section-header">
    <h1 class="title">{{ 'PUBBLICAZIONI.PUBLISH-DATA' | translate }}</h1>
  </div>
  <div *ngIf="!pubblicazioni || pubblicazioni.length === 0" class="empty-list">
    {{ 'PUBBLICAZIONI.EMPTY-LIST' | translate }}</div>
  <ng-container *ngIf="pubblicazioni && pubblicazioni.length > 0">
    <div *ngFor="let pub of pubblicazioni; let i = index" class="row-pubblicazione">
      <span>{{ getTipoPubblicazione(i) | translate }}: </span>
      <span>
        <a class="clickable" sdkClick (aClick)="onFlussoClick(pub, i)" tabindex="0" role="article">
          <b *ngIf="pub.dataInvio == null">{{ 'PUBBLICAZIONI.DATA-NON-DISPONIBILE' | translate }}</b>
          <b *ngIf="pub.dataInvio != null">{{ pub.dataInvio | sdkDateFormat: config.locale.fullDateformat }}</b>
        </a>
      </span>
    </div>
  </ng-container>
  <sdk-modal [config]="modalConfigObs"></sdk-modal>
  <div class="buttons-row">
    <sdk-button-group *ngIf="buttons !== undefined" [config]="buttonsSubj" (output)="onButtonClick($event)">
    </sdk-button-group>
  </div>
  <sdk-dialog [config]="dialogConfigObs"></sdk-dialog>
  <sdk-sidebar [config]="sidebarConfigObs"></sdk-sidebar>
</div>