@import "./base/header-base.scss";
@import "./base/footer-base.scss";

.sdk-layout-root-section.login-layout > div {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: stretch;
}

.sdk-layout-all-section.login-layout > div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: stretch;
}

.sdk-layout-container-section.login-layout {
    height: calc(100vh - 100px);
    overflow: auto;
    width: calc(100% - 64px);
}

.sdk-layout-header-menu-section.login-layout {
    height: calc(100vh - 100px);
    min-width: 64px;
    width: auto;
}

.sdk-layout-container-section-no-scroll.login-layout {
    width: calc(100% - 64px);
    overflow: hidden;
}

.sdk-layout-container4-section {
    @extend %layout-side-tabs-body-color;
}

.sdk-layout-body-section {
    height: calc(100vh - 100px);
    overflow: auto;
}