<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<p>
		Spett.le <span th:text="${name}"></span>,
	</p>
	<p>
		la Sua utenza &egrave; <span th:text="${userName}"></span>.
	</p>
	<p>
		Per riattivare l'account &egrave; necessario impostare la password nel
		seguente link: <a th:href="${link}"><span th:text="${link}"></span></a><br>
		Nel caso in cui il collegamento indicato sopra risultasse suddiviso su
		pi&ugrave; righe e pertanto non funzionante, <br> si invita a
		copiare ed incollare manualmente nella barra degli indirizzi del
		browser tutte le parti che lo compongono e poi premere invio. <br>
		Cordiali Saluti.
	</p>
	<p>
		-----<br> Questa mail viene generata da un sistema automatico, si
		prega di non rispondere.
	</p>
</body>
</html>
