<div [class]="config.classNames" *ngIf="isReady">
    <h1 class="page-title" *ngIf="config.sectionTitle != null">{{ config.sectionTitle | translate }}</h1>
    <div class="blue-line" *ngIf="config.sectionTitle != null"></div>

    <div class="messages-box" #infoBox></div>

    <div class="messages-box" #messages></div>
    <div class="avvisi-container">
        <div class="avvisi-content">
            <sdk-form-builder [config]="formBuilderConfigObs" [data]="formBuilderDataSubject"
                (output)="manageFormOutput($event)" (outputField)="manageOutputField($event)"
                (outputClick)="manageFormClick($event)">
            </sdk-form-builder>
            <sdk-modal [config]="modalConfigObs" (output)="manageModalOutput($event)"></sdk-modal>
        </div>
        <div class="buttons-row">
            <sdk-button-group [config]="buttonsSubj" (output)="onButtonClick($event)"></sdk-button-group>
        </div>
    </div>
    <sdk-dialog [config]="dialogConfigObs"></sdk-dialog>
    <sdk-motivazione-dialog [config]="motivazioneDialogConfigObs"></sdk-motivazione-dialog>
    <sdk-datepicker-dialog [config]="datePickerDialogConfigObs"></sdk-datepicker-dialog>
</div>