.import-interventi-table {
    width: 100%;
    border-collapse: collapse;
}

.import-interventi-header {
    padding: 1rem;
    min-width: 10rem;
    text-align: left;
}

.import-interventi-header-check{
    padding: 1rem;
}

.import-interventi-row {
    border-bottom: 1px solid #dddddd;
}

.import-interventi-cell {
    padding: 1rem;
}
