<table class="fasi-lotto-table" aria-label="Tabella">
    <thead>
        <th class="fasi-lotto-header">Colonna 1</th>
        <th class="fasi-lotto-header">Colonna 2</th>
        <th class="fasi-lotto-header">Azioni</th>
    </thead>
    <tbody>
        <tr class="fasi-lotto-row">
            <td class="fasi-lotto-cell clickable">
                prova 1
            </td>

            <td class="fasi-lotto-cell">prova 1</td>

            <td class="fasi-lotto-cell pubb">
                <div class="fasi-lotto-azioni">
                    <div class="clickable">
                        <img src="assets/images/app/invioFlussoBN.png" title="Invio non possibile"
                            alt="Invio non possibile">
                        <img src="assets/images/app/invioFlusso.png" title="Invio gia effettuato"
                            alt="Invio gia effettuato">
                        <img src="assets/images/app/invioFlussoInAttesa.png" title="Invio da effettuare"
                            alt="Invio da effettuare">
                        <img src="assets/images/app/invioRettificaFlusso.png" title="Rettifica da inviare"
                            alt="Rettifica da inviare">
                    </div>

                    <div class="azione-eliminazione">
                        <i class="mgg-icons-crud-delete" title="Elimina fase"></i>
                        <i class="fas fa-ban" title="Elimina fase"></i>
                    </div>
                </div>
            </td>
        </tr>
        <tr class="fasi-lotto-row">
            <td class="fasi-lotto-cell clickable">
                prova 2
            </td>
            <td class="fasi-lotto-cell">prova 2</td>
            <td class="fasi-lotto-cell pubb">
                <div class="fasi-lotto-azioni">
                    <div class="clickable">
                        <img src="assets/images/app/invioFlussoBN.png" title="Invio non possibile"
                            alt="Invio non possibile">
                        <img src="assets/images/app/invioFlusso.png" title="Invio gia effettuato"
                            alt="Invio gia effettuato">
                        <img src="assets/images/app/invioFlussoInAttesa.png" title="Invio da effettuare"
                            alt="Invio da effettuare">
                        <img src="assets/images/app/invioRettificaFlusso.png" title="Rettifica da inviare"
                            alt="Rettifica da inviare">
                    </div>

                    <div class="azione-eliminazione">
                        <i class="mgg-icons-crud-delete" title="Elimina fase"></i>
                        <i class="fas fa-ban" title="Elimina fase"></i>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<div class="buttons-row">
    <sdk-button-group [config]="buttonsSubj"></sdk-button-group>
</div>