@import "../../app/app-vars.scss";
@import "../../../sdk-flex.scss";

.sdk-layout-header {

    >.sdk-layout-header-content {

        @include grid;
        @include grid-row;
        @include grid-nowrap;
        @include grid-va-center;

        @include mq(small-and-medium) {
            @include grid-column;
        }

        .sdk-layout-header-left {
            @include grid;
            @include grid-nowrap;
            @include grid-left;
            @include basis(70%);
            @include grid-va-center;
            padding: 1rem;

            @include mq(small-and-medium) {
                @include grid-center;
            }

            .titolo-container-top {
                padding-left: 1rem;

                .titolo {
                    font-size: 33px;
                    text-transform: uppercase;
                    font-weight: bold;
                    letter-spacing: 0.05rem;
                }

                .sottotitolo {
                    font-size: 19px;
                    letter-spacing: 0.05rem;
                    @extend %subtitle-color;
                }
            }
        }

        .sdk-layout-header-right {
            @include grid;
            @include grid-nowrap;
            @include grid-right;
            @include basis(30%);
            padding: 1rem;

            @include mq(small-and-medium) {
                @include grid-center;
            }

            .message-button {
                padding-right: 1rem;
            }

            .sdk-button-outline.p-splitbutton .p-button:not(.p-splitbutton-menubutton) {
                cursor: default;

                &:hover {
                    background: transparent;
                }

                &:focus {
                    box-shadow: none;
                }
                
            }
        }
    }
}

.sdk-layout-header-top,
.sdk-layout-header-mid,
.sdk-layout-header-bottom {
    @extend %sdk-layout-header-text-color;

    a {
        @extend %sdk-layout-header-text-color;
    }
}

.sdk-layout-header-top {
    @extend %sdk-layout-header-top-background;
}

.sdk-layout-header-mid {
    @extend %sdk-layout-header-mid-background;
    border-top: 1px solid map-get($blue-colors, layoutBorder);
    border-bottom: 1px solid map-get($blue-colors, layoutBorder);

    .sdk-layout-header-left {
        padding: 0.5rem;
    }
}

.sdk-layout-header-bottom {
    @extend %sdk-layout-header-bottom-background;

    .header-flag-container {

        width: 95%;
        margin: 0 auto;
        height: 8px;

        .green {
            @extend %green-background;
            width: 33.3%;
            float: left;
            height: 8px;
        }

        .white {
            @extend %white-flag-background;
            width: 33.3%;
            float: left;
            height: 8px;
        }

        .red {
            @extend %red-background;
            width: 33.3%;
            float: left;
            height: 8px;
        }
    }
}


.sdk-layout-breadcrumbs {
    .sdk-layout-breadcrumbs-container {
        @extend %sdk-layout-breadcrumbs-background;
        @include grid;
        @include grid-row;
        @include grid-nowrap;
        @include grid-left;
        @include grid-ca-center;
        @include grid-va-center;
        height: 50px;

        .breadcrumb-collapse-icon {
            padding: 1rem;
        }

        .sdk-breadcrumb {
            display: block;
            width: 98%;

            .breadcrumb-container {
                padding: 0.5rem 1rem;
                border: 1px solid;
                @extend %transparent-border;
                border-radius: 3px;

                a {
                    @extend %color-sfondo-pagina;
                }
            }
        }
    }
}

.sdk-header-followus,
.sdk-header-search {

    margin: 0.5rem;
    width: auto;

    sdk-textbox {
        width: 100%;

        .p-inputtext {
            width: 100%;
        }
    }

    .p-button.sdk-button-flat {
        @extend %color-sfondo-testo;
    }
}

.sdk-header-radio {
    p-radiobutton {
        padding: 0 0.5rem;
    }

    .p-radiobutton {
        .p-radiobutton-box.p-highlight {
            @extend %border-sfondo-testo;
            @extend %background-sfondo-testo;
            @extend %checkbox-color;

            .p-radiobutton-icon {
                @extend %checkbox-background-color;
            }
        }

        .p-radiobutton-box.p-highlight:not(.p-disabled):hover {
            .p-radiobutton-icon {
                @extend %background-sfondo-testo;
            }
        }
    }
}

.sdk-header-followus {

    .sdk-header-followus-title {
        margin: 0.5rem;
    }

    .sdk-header-followus-social {
        margin: 0.5rem;
    }
}

.sdk-header-sticky {
    @include sdk-sticky;
    @extend %sdk-header-sticky-background;
    padding: 0;

    .header-menu {
        @include grid-va-center;

        .container-left {
            .logo-small {
                display: block !important;
            }
        }

        .container-right {
            display: block !important;

            .sdk-layout-header-right {
                padding: 0;
            }
        }
    }

}

.menu-sidebar {
    @extend %menu-sidebar-background;
}

.sdk-layout-header-bottom-section.no-menu .blue-band {
    padding: 1rem;
}

.header-search-panel {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border: 1px solid white;
}

.sdk-layout-title {

    @extend %background-sfondo-titolo;

    .app-title {
        padding: 4rem 2rem 1rem 2rem;
        text-align: center;
        font-weight: bold;
        font-size: 2rem;
        margin: 0;
        @extend %color-titolo;
    }

    .app-body {
        padding: 2rem;
        text-align: center;
        font-size: 1rem;
        @extend %color-testo;
    }
}