<ul>
    <li><a routerLink="home">Home</a></li>
    <li class="dropdown">
        <a class="dropbtn">Buttons</a>
        <div class="dropdown-content">
            <a routerLink="basic-button">Basic Button</a>
            <a routerLink="button-group">Button Group</a>
            <a routerLink="button-dropdown">Button Dropdown</a>
            <a routerLink="toolbar">Toolbar</a>
        </div>
    </li>
    <li class="dropdown">
        <a class="dropbtn">Forms</a>
        <div class="dropdown-content">
            <a routerLink="form-textbox">Textbox</a>
            <a routerLink="form-textarea">Textarea</a>
            <a routerLink="form-numeric-textbox">Numeric Textbox</a>
            <a routerLink="form-switch">Switch</a>
            <a routerLink="form-slider">Slider</a>
            <a routerLink="form-masked-textbox">Masked Textbox</a>
            <a routerLink="form-combobox">Combobox</a>
            <a routerLink="form-multiselect">Multiselect</a>
            <a routerLink="form-autocomplete">Autocomplete</a>
            <a routerLink="form-document">Document</a>
            <a routerLink="form-documents-list">Documents List</a>
            <a routerLink="form-radio">Radio</a>
            <a routerLink="form-textbox-matrix">Matrix</a>
            <a routerLink="form-tree">Tree</a>
            <a routerLink="form-checkbox">Checkbox</a>
            <a routerLink="form-text">Text</a>
        </div>
    </li>
    <li class="dropdown">
        <a class="dropbtn">Date</a>
        <div class="dropdown-content">
            <a routerLink="date-datepicker">Datepicker</a>
            <a routerLink="date-timepicker">Timepicker</a>
        </div>
    </li>
    <li><a routerLink="menu">Menu</a></li>
    <li><a routerLink="breadcrumb">Breadcrumb</a></li>
    <li><a routerLink="search">Search</a></li>
    <li><a routerLink="tabs">Tabs</a></li>
    <li><a routerLink="notifications">Notifications</a></li>
    <li><a routerLink="dialog">Dialog</a></li>
    <li><a routerLink="message-panel">Message Panel</a></li>
    <li class="dropdown">
        <a class="dropbtn">Form builder</a>
        <div class="dropdown-content">
            <a routerLink="form-builder">Form Builder</a>
            <a routerLink="dynamic-form-section">Dynamic Form Section</a>
            <a routerLink="form-builder-advanced-autocomplete">Form Builder Advanced Autocomplete</a>
        </div>
    </li>
    <li><a routerLink="modal">Modal</a></li>
    <li><a routerLink="grid">Grid</a></li>
    <li><a routerLink="overlay-panel">Overlay Panel</a></li>
    <li><a routerLink="panelbar">Panelbar</a></li>
    <li><a routerLink="form-builder-picker">Form Builder Picker</a></li>
    <li><a routerLink="extended-table">Extended Table</a></li>
</ul>
<br>

<router-outlet></router-outlet>