<div [class]="config.classNames" *ngIf="isReady">
    <h1 class="page-title" *ngIf="config.sectionTitle != null">{{ config.sectionTitle | translate }}</h1>
    <div class="blue-line" *ngIf="config.sectionTitle != null"></div>

    <div class="messages-box" #messages></div>

    <sdk-table [config]="configSub" [reset]="resetTable"></sdk-table>

    <div class="buttons-row">
        <sdk-button-group [config]="buttonsSubj" (output)="onButtonClick($event)"></sdk-button-group>
    </div>
    <sdk-dialog [config]="dialogConfigObs"></sdk-dialog>
    <sdk-modal [config]="modalConfigObs" (output)="manageModalOutput($event)"></sdk-modal>
    <sdk-motivazione-dialog [config]="motivazioneDialogConfigObs"></sdk-motivazione-dialog>
</div>