<div [class]="config.classNames" *ngIf="isReady" #content>

  <h1 class="page-title" *ngIf="config.sectionTitle != null">{{ config.sectionTitle | translate }}</h1>
  <div class="black-line"></div>

  <div class="messages-box" #messages></div>

  <div class="selectable">
    <div class="selectable-link-item" *ngFor="let profilo of profili; trackBy: trackByCodProfilo" sdkClick
      (aClick)="selezionaProfilo(profilo.codProfilo)" tabindex="0" role="navigation" [attr.aria-label]="profilo.nome">
      <div class="div-link">{{profilo.nome}}</div>
      <i class="mgg-icons-paginator-next"></i>
    </div>
  </div>

</div>